@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Euphoria+Script&family=Roboto+Serif:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Abril Fatface, cursive;
    font-weight: 400;
    color:#24252A;
}

#logo{
    font-family: Abril Fatface, cursive;
    font-weight: 500;
    letter-spacing: 2.5px;
    font-size: 60px;
}
#logo:hover {
    color: white;
    padding: 15px;
}
.home {
    background-image: url("https://www.worldatlas.com/r/w1200/upload/90/7f/d6/shutterstock-329818472.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 10%;
    background-color: white; 
    line-height: 40px;
  }

  .nav-links li {
      display: inline-block;
      margin: 4px 2px;
  }
  .nav-links li a{
      text-decoration: none;
  }

  nav {
      order: 1;
  }
 
  #homepage {
      text-decoration: none;
      color: black;
      padding: 5px 20px;
      background-color: rgba(0,136,169,1);
      border: none;
      border-radius: 40px;
      cursor: pointer;
      margin-left: -25px;
  }
  
  #homepage:hover {
    color: white;
    background-color: rgba(0,136,169,0.7);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    padding: 12px 20px;
  }
  
  li, a{
    font-family: cursive, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #24252A;
    text-decoration: none;
}
.nav-links li, a:hover {
   padding: 5px 10px;
   color: white;
   background-color: rgba(0,136,169,1);
   border: none;
   border-radius: 40px;
   cursor: pointer;
   transition: all 0.3s ease 0s; 
}