@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Euphoria+Script&family=Roboto+Serif:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    color: #24252A;
}

#logo {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3.5px;
    font-size: 60px;
    font-weight: 200;
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 136, 169, 1);
    color: #FFFFFF;
    border-radius: 40px;
    padding: 2px;
}

#logo:hover {
    color: #24252A;

}

#main-image {
    background: url("../images/main-image.webp") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 10%;


}

.nav-links li {
    display: inline-block;
    margin: 4px 2px;
}

.nav-links li a {
    text-decoration: none;
}

nav {
    order: 1;
}



li,
a {
    font-family: cursive, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #24252A;
    text-decoration: none;
}

.nav-links li,
a:hover {
    padding: 5px 10px;
    color: #FFFFFF;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.page-intro {
    text-align: center;
    margin: 20px 40px;
}

.containers div {
    display: block;
    max-height: 400px;
    background-color: #FFFFFF;
    width: 300px;
    text-align: center;
    margin: 15px 30px;
    opacity: 0.8;
    border: 2px solid rgba(0, 136, 169, 1);
    border-radius: 6px;

}

.containers h2 {
    font-family: cursive, sans-serif;
    color: #433bdb;

}

.containers img {
    width: 100%;
    height: 100%;
}

div a {
    color: #433bdb;
}

div a:hover {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #433bdb;
    text-decoration: underline;


}

footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    border-top: 2px solid rgba(0, 136, 169, 1);
    bottom: 0;
    text-align: center;
    z-index: 1;
}

.social-networks li {
    display: inline-block;
    line-height: 50px;
    margin: 10px 20px;
}

.social-networks a {
    color: rgba(0, 136, 169, 1);
    margin:30px;
}

.social-networks h2 {
    font-size: 20px;
    font-family: 'cursive', sans-serif;
}

/*gallery*/
.gallery {
    background-color: aqua;
    border-top: 2px solid rgba(0, 136, 169, 1);
    border-left: 2px solid rgba(0, 136, 169, 1);
    border-right: 2px solid rgba(0, 136, 169, 1);
    border-radius: 10px;

}

.gallery h1,
p {
    text-align: center;

}

.gallery h1 {
    font-size: 60px;
    font-weight: 100;
}

.gallery p {
    font-size: larger;
    font-family: 'cursive', sans-serif;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
    overflow: hidden;
    margin-bottom: 0;
    border: 2px solid rgba(0, 136, 169, 1);
    border-radius: 10px;
}

#photos>img {
    width: 100%;
    height: 300px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

/*tourist attractions*/
#attract {
    text-align: center;
    font-weight: 100;
    font-size: 60px;
    color: rgba(0, 136, 169, 1);
}


#tourist {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.attractions img {
    width: 90%;
    height: 400px;
    display: block;
    border: 2px solid rgba(0, 136, 169, 1);
    border-radius: 10px;
}

.attractions p {
    width: 90%;
    font-family: cursive, sans-serif;
    font-size: large;
    text-align: justify;
    margin-bottom: 30px;
}

.attractions h2 {
    margin: 20px 0;
    font-weight: 200;

}

/*sign-up*/
.img-sign-up {
    background: url("../images/boracay-sand-castle.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
}

.sign-up {
    width: 500px;
    height: 720px;
    margin-left: 30px;

}

.sign-up h1 {
    text-align: center;
    font-size: 60px;
    color: rgba(0, 136, 169, 1);
    width: 100%;
    margin: auto;
}

.sign-up-form {

    color: black;
    background-color: #FFFFFF;
    width: 500px;
    position: absolute;
    padding: 20px;
    border: none;
    border-radius: 25px;
    height: 45%;
    opacity: 0.8;

}

.sign-up-form fieldset {
    border: 1px solid rgba(0, 136, 169, 1);
    border-radius: 20px;
    margin: 10px 10px;
}

legend {
    text-align: center;
    font-size: 25px;
    font-family: cursive, sans-serif;
    color: rgba(0, 136, 169, 1);

}

input[type="text"],
input[type="submit"] {
    margin: 20px;
    width: 90%;
    height: 50px;
    opacity: 0.9;
    border: 2px solid skyblue;
    font-family: cursive, sans-serif;
    border-radius: 15px;
}

.text-input:hover {
    background-color: rgba(70, 103, 132, 0.27);
    transition: all 0.3s ease 0s;
}

.submit:hover {
    background-color: rgba(70, 103, 132, 0.27);
    transition: all 0.3s ease 0s;
}

label {
    margin-left: 10px;
}

fieldset {
    border: 2px solid white;
}

@media screen and (max-width: 600px) {
    body {
        font-weight: 600;
    }
    .sign-up {
        width: 100%;
        height: 800px;
        margin: 0;
    }

    .sign-up h1 {
        font-size: 40px;
        width: 100%;
        margin: 10px 0;
    }
    .submit {
        font-size: 20px;
        font-weight: 800;
        
    }

    .sign-up-form {
        height: 60%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #logo {
        font-size: 40px;
        letter-spacing: normal;
        margin-left: -30px;
        padding: 10px;

    }

    li,
    a {
        font-size: 20px;
        color: #030202;
    }

    footer {
        height: auto;
        width: 100%;
        text-align: center;

    }

    .social-networks h2 {
        font-size: 20px;
        font-weight:800;

    }
    .social-networks li{
        margin: 0;
    }
    .social-networks li a {
        margin: 0 5px;
    }

    .attractions img {
        height: 200px;
    }

    #attract {
        font-size: 40px;
    }

    .page-intro {
        text-align: justify;
    }

    #photos {
        column-count: 2;
    }

    .sign-up-form fieldset {
        height: 90%;
        z-index: 1;
        margin: 20px;
    }

    .text-input:hover {
        height: 40px;
    }

    input[type="text"],
    input[type="submit"] {
        margin: 10px;

    }

    .containers div {
        width: 350px;
        margin: 10px auto;
    }

}
  @media screen and (max-width:1340px) and (min-width:600px){
      .nav-links li {
          margin-left: 20px;
      }
      footer {
          text-align: center;
      }
      .sign-up-form {
        height: 53%;
        width: 50%;
        margin: 0;
        padding: 0;
    }
    .social-networks li {
        display: inline;
    }
      
      }
      @media screen and (min-width:1280px){
          footer{
              text-align: center;
          }
          .social-networks li a {
              margin: 0 5px;
          }
        
        
    
      }
      @media screen and (min-width: 200px) and (max-width:320px){
          #photos {
              column-count: 1;
              width:330px;
              margin-left: 10px;
          }
          .gallery{
              margin:5px 0 5px 10px;
              width: 330px;

              
          }
         .social-networks li {
             margin: 0;
             display: inline;
             
         }
         .social-networks h2{
             font-size: 15px;
         }
         footer {
             width:110%;
         }
            
      }
      @media screen and ( max-width: 1024px){
        .sign-up-form {
            height:60%;
        }
      }
 